extends main
block content
  body
    .jumbotron
      center
        span#titlefont About Us
      p
        span#sbfont Entirely developed by Coria Mariano, Armas Lucas and Matias Pollo
      p
        span#sbfont Hope you like it, chino
