extends main
block content
  body
    .page-header
      .jumbotron
        p
          span#sbfont #{userLeave} has left the game!
        p
          a.btn.btn-warning.btn-default(href='/', role='button') Return to Menu
