extends main
head content
  .jumbotron{
  //background-color:#2E2D88;
  //background: url(/img/back.jpg) no-repeat center center fixed;
  color:#301806;
  min-height:400px;
  }
  #titlefont{
  font-size: 4em;
  vertical-align:middle;
  horizontal-align:middle;
  font-family: Calibri;
  }
  #sbfont{
  font-size: 2em;
  vertical-align:middle;
  horizontal-align:middle;
  font-family: Calibri;
  }
  /* Adds borders for tabs */
  .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  }
  .nav-tabs {
  margin-bottom: 0;
  }