<div class="page-header">
<h3>Welcome to Truco, let's play</h3>
</div>


<div class= "home">
	<!-- jumbotron enlarges fonts and puts everything in a gray box with rounded corners. If jumbotron is outside a container it fills the total width. You can change the styles by placing the changes after the Bootstrap CDN link -->
	<div class="jumbotron">
	<p>
	<a href="/register" class = "btn btn-info btn-lg" role="button">Sign In</a>
	<a href="/login" class = "btn btn-warning btn-lg" role="button">Log In</a>
	</p>

	</div>
</div>