extends main
block content
  body
    .home
      if(!user)
        .jumbotron
          span#titlefont Welcome to Truco
          p
          span#sbfont Let's play
          p
            a.btn.btn-info.btn-lg(href='/register', role='button') Sign In
            a.btn.btn-warning.btn-lg(href='/login', role='button') Log In
      if(user)
        .jumbotron
          span#titlefont Main Menu
          p
          span#sbfont Let's play
          p
            a.btn.btn-info.btn-lg(href='/newGame', role='button') Play
            a.btn.btn-warning.btn-lg(href='/logout', role='button') Log Out