doctype html
html
	head
		meta(charset="UTF-8")
		title My Aplicación con Sockets
		script(src="/socket.io/socket.io.js")
		script(src="main.js")
	body  
		h1 My App
	div(id="messages")
	form(onsubmit="return addMessage(this)")
		input(type="text" id="username" placeholder="Tu Nombre") 
		input(type="text" id="texto" placeholder="Cuéntanos algo...")
		input(type="submit" value="Enviar!")
