<div class="page-header">
<h3>Log In</h3>
</div>

<div class="login">

<form role='form' action="/login" method="POST">

<div class="jumbotron">
<p>Enter your username and password</p>

<p>
  <div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">
    Userame</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldName"
      name="username">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldPass" class="col-sm-2 control-label">
    Password</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldPass"
      name="password">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-info">Log In!</button>
      <a href="/" class = "btn btn-danger btn-default" role="button">Cancel</a>
    </div>
  </div> <!-- End of form-group -->

</p>
</div>

</form>
</div> <!-- End of Login -->