extends main
block content
  html
    body
      .register
          .jumbotron
            span#titlefont Main Menu
            p
            span#sbfont Logged as: #{user.username} 
            p
              .form-group
                .col-sm-4
                  a.btn.btn-info.btn-default(href='/newGame', role='button') Play!
                  a.btn.btn-danger.btn-default(href='/logout', role='button') Log Out
              // End of form-group
      // End of Menu
