extends main
block content
  body
    .jumbotron
      center
        span#titlefont Waiting for the opponent to connect
      p
      center
        span#sbfont Once the opponent joins the game will start automatically
