<div class="page-header">
<h3></h3>
</div>

<div class="Register">

<form role='form' action="/register" method="POST">

<div class="jumbotron">
<p>Registration</p>
<p>Sign In!</p>

<p>
  <div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">
    Userame</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldName"
      name="username">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldPass" class="col-sm-2 control-label">
    Password</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldPass"
      name="password">
    </div>
  </div> <!-- End of form-group -->
</p>
<p>   </p>
<p>
  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-info">Submit</button>
	  <a href="/" class = "btn btn-danger btn-default" role="button">Cancel</a>
    </div>
  </div> <!-- End of form-group -->

</p>
</div>
</form>
</div> <!-- End of Register -->