extends main
block content
  body
    .page-header
      .jumbotron
        p
          span#sbfont #{user} WINS! Well done :)
        p
          a.btn.btn-info.btn-default(href='/newGame', role='button') Play Again!
          a.btn.btn-warning.btn-default(href='/', role='button') Return to Menu